/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/* ===== mailWindow1.css ================================================
  == Styles for the main Mail window in the default layout scheme.
  ======================================================================= */

@import url("chrome://messenger/skin/");
@import url("chrome://messenger/skin/primaryToolbar.css");
@import url("chrome://global/skin/toolbar.css");
@import url("chrome://messenger/skin/folderMenus.css");
@import url("chrome://messenger/skin/folderPane.css");
@import url("chrome://messenger/skin/tagColors.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#viewPickerLabel:not(:-moz-lwtheme) {
  color: MenuText;
}

#folderTree {
  border-bottom: 1px solid ThreeDShadow;
  background-color: #dedede;
}

#folderTree treechildren::-moz-tree-row {
  min-height: 27px !important;
}

#folderTree treechildren::-moz-tree-cell-text {
  color: #6f6f6f;
}

#folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover) {
  background-color: #f5f5f5;
}

#folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
  background-image: -moz-linear-gradient(#c6c6c6, #cecece);

  border: 2px solid;
  border-left: none;
  border-right: none;

  -moz-border-top-colors: #a7a7a7 #c1c1c1;
  -moz-border-bottom-colors: #e7e7e7 #bcbcbc;

  min-height: 23px !important;
}

#folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-cell-text(selected) {
}

#folderTree scrollbar {
  -moz-appearance: none;
  display: none;
}

#folderTree:hover scrollbar {
  display: inline !important;
}

#folderTree scrollbar slider {
  background-color: #dedede !important;
}

#threadTree {
  border-bottom: 1px solid ThreeDShadow;
}

#mailContent {
  -moz-appearance: none;
  background-color: -moz-Dialog;
}

#tabmail:-moz-lwtheme {
  text-shadow: none;
}

#folderPaneHeader {
  border-bottom: 1px solid ThreeDShadow;
}

#folderUnreadCol,
#folderTotalCol,
#folderSizeCol {
  text-align: right;
}

#folderNameCol [sortDirection="ascending"],
#folderNameCol [sortDirection="descending"] {
  list-style-image: none;
}

/* ::::: thread decoration ::::: */

treechildren::-moz-tree-row(dummy)  {
  background-color:  #F0F0F0;
  margin-bottom: 1px;
  -moz-padding-start: 2px;
}

treechildren::-moz-tree-row(dummy, selected) {
  background-color: -moz-Dialog;
}

treechildren::-moz-tree-row(dummy, selected, focus)  {
  background-color: Highlight;
}

treechildren::-moz-tree-cell-text(dummy) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(read) {
  font-weight: normal;
}

treechildren::-moz-tree-cell-text(unread) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(imapdeleted) {
  text-decoration: line-through;
}

/* on a collapsed thread, if the top level message is read, but the thread has
 * unread children, underline the text.  4.x mac did this, very slick 
 */
treechildren::-moz-tree-cell-text(container, closed, hasUnread, read) {
  text-decoration: underline;
}

/* ::::: message column icons ::::: */

/* ..... thread column ..... */

.threadColumnHeader {
  list-style-image: url("chrome://messenger/skin/icons/thread-col.svg");
}

treechildren::-moz-tree-image(threadCol, container) {
  list-style-image: url("chrome://messenger/skin/icons/thread.png");
}

treechildren::-moz-tree-image(news, threadCol, watch) {
  list-style-image: url("chrome://messenger/skin/icons/thread-watched.png");
}

treechildren::-moz-tree-image(news, threadCol, ignore) {
  list-style-image: url("chrome://messenger/skin/icons/thread-ignored.png");
}

treechildren::-moz-tree-image(news, threadCol, ignoreSubthread) {
  list-style-image: url("chrome://messenger/skin/icons/message-ignored.png");
}

/* ..... read column ..... */

.readColumnHeader {
  list-style-image: url("chrome://messenger/skin/icons/readcol.svg");
  -moz-padding-end: 3px;
}

treechildren::-moz-tree-image(unreadButtonColHeader) {
  list-style-image: url("chrome://messenger/skin/icons/message-list.png");
  -moz-image-region: rect(0px 16px 16px 0px); /* message-read.png */
}

treechildren::-moz-tree-image(unreadButtonColHeader, dummy) {
  list-style-image: none;
}

treechildren::-moz-tree-image(unreadButtonColHeader, unread) {
  -moz-image-region: rect(16px 16px 32px 0px); /* message-unread.png */
}

/* ..... attachment column ..... */

.attachmentColumnHeader {
  list-style-image: url("chrome://messenger/skin/icons/attachment-col.svg");
  -moz-padding-end: 3px;
}

treechildren::-moz-tree-image(attachmentCol, attach) {
  list-style-image: url("chrome://messenger/skin/icons/message-list.png");
  -moz-image-region: rect(160px 16px 176px 0px); /* message-attachment.png */
  -moz-padding-start: 2px;
}

/* ..... flag column ..... */

.flagColumnHeader {
  list-style-image: url("chrome://messenger/skin/icons/flag-col.svg");
  -moz-padding-end: 3px;
}

treechildren::-moz-tree-image(flaggedCol) {
  list-style-image: url("chrome://messenger/skin/icons/message-list.png");
  -moz-image-region: rect(96px 16px 112px 0px); /* message-unstarred.png */
  -moz-padding-end: 3px;
}

treechildren::-moz-tree-image(flaggedCol, dummy) {
  list-style-image: none;
}

treechildren::-moz-tree-image(flaggedCol, flagged) {
  -moz-image-region: rect(80px 16px 96px 0px); /* message-starred.png */
  -moz-padding-end: 3px;
}

/* ..... junkStatus column ..... */

.junkStatusHeader {
  list-style-image: url("chrome://messenger/skin/icons/junk-col.svg");
  -moz-padding-end: 3px;
}

/* "unknown" now looks like "not junk".  see bug #182386 */
treechildren::-moz-tree-image(junkStatusCol) {
  list-style-image: url("chrome://messenger/skin/icons/message-list.png");
  -moz-image-region: rect(0px 16px 16px 0px); /* message-read.png */
  -moz-padding-start: 0px;
}

treechildren::-moz-tree-image(junkStatusCol, junk) {
  -moz-image-region: rect(32px 16px 48px 0px); /* message-junk.png */
}

treechildren::-moz-tree-image(junkStatusCol, dummy) {
  list-style-image: none;
}

treechildren::-moz-tree-image(junkStatusCol, notjunk) {
  -moz-image-region: rect(0px 16px 16px 0px); /* message-read.png */
  -moz-padding-start: 0px;
}

/* ..... subject column ..... */

#subjectCol {
  -moz-padding-start: 16px;
}

#subjectCol[primary="true"] {
  -moz-padding-start: 26px;
}

treechildren::-moz-tree-image(subjectCol) {
  -moz-margin-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/empty-small.svg?size=menu");
}

treechildren::-moz-tree-image(subjectCol, dummy) {
  list-style-image: none;
}

treechildren::-moz-tree-image(subjectCol, forwarded) {
  list-style-image: url("chrome://messenger/skin/icons/mail-forwarded.svg?size=menu");
}

treechildren::-moz-tree-image(subjectCol, replied) {
  list-style-image: url("chrome://messenger/skin/icons/mail-replied.svg?size=menu");
}

treechildren::-moz-tree-image(subjectCol, replied, forwarded) {
  list-style-image: url("chrome://messenger/skin/icons/mail-replied-forwarded.svg?size=menu");
}

treechildren::-moz-tree-image(subjectCol, new) {
  list-style-image: url("chrome://messenger/skin/icons/mail-new-star.svg?size=menu");
}


/* IMPORTANT: make sure the imap-deleted column always comes after the replied/forwarded style rules.
   This ensures that we show that the message is marked as deleted over status information. */

treechildren::-moz-tree-image(subjectCol, imapdeleted) {
  list-style-image: url("chrome://messenger/skin/icons/mail-deleted.svg?size=menu");
}

treechildren::-moz-tree-cell-text(subjectCol) {
  -moz-padding-start: 0;
}

#sizeCol,
#unreadCol,
#totalCol {
  text-align: right;
}

/* We need to hide overflow in messagepanebox, so that resizing doesn't spill
   header content over the statusbar.
   */

#messagepanebox {
  overflow: hidden;
}

/* ..... folder pane adjustments ..... */

#folderpane-title {
  -moz-padding-start: 12px;
  -moz-padding-end: 8px;
}

.folderview-cycler {
  -moz-padding-end: 0px !important;
}

.folderview-cycler[dir="prev"],
.folderview-cycler[dir="next"]:-moz-locale-dir(rtl) {
/*  list-style-image: url("chrome://messenger/skin/icons/arrow/foldercycler-arrow-left.png");*/
  -moz-appearance: button-arrow-previous;
}

.folderview-cycler[dir="next"],
.folderview-cycler[dir="prev"]:-moz-locale-dir(rtl) {
/*  list-style-image: url("chrome://messenger/skin/icons/arrow/foldercycler-arrow-right.png");*/
  -moz-appearance: button-arrow-next;
}

#messagesBox {
  /* For some reason, the thread/message panes overlap the folder pane splitter
     by 1px because of the CSS above. Fix this. */
  -moz-margin-start: 1px;
}

/* ..... tree adjustments ..... */

#accountCentralBox {
  border-bottom: 1px solid ThreeDShadow;
}

/* ..... message pane adjustments ..... */

#messagepanebox {
  border-bottom: 1px solid ThreeDShadow;
}

/*
#threadpane-splitter, #today-splitter {
  border-left-color: #777 !important;
}

#messagepaneboxwrapper {
  background-image: -moz-linear-gradient(top, #aaaaaa, #bdbdbd 12px, #c6c6c6 24px);
  padding: 15px;
}

#messagepaneboxwrapper > vbox {
  border: 1px solid #777;
  box-shadow: 0 4px 8px #999;
}

#messagepaneboxwrapper > vbox > vbox {
}
*/

/* ..... status bar adjustments ..... */

#quotaMeter {
  -moz-appearance: none;
  min-width: 4em;
  max-width: 4em;
  border: 1px solid ThreeDShadow;
}
#quotaPanel .progress-bar {
  -moz-appearance: none;
  background-color: #88AAFF;
  opacity: .5;
}
#quotaPanel[alert="warning"] .progress-bar {
  background-color: orange;
}
#quotaPanel[alert="critical"] .progress-bar {
  background-color: red;
  opacity: .6;
}
#quotaLabel {
  text-align: center;
}

#threadTree > treechildren::-moz-tree-row(odd) {
  background-color: -moz-oddtreerow;
}

#threadTree > treechildren::-moz-tree-row(selected) {
  color: -moz-cellhighlighttext;
  background-color: -moz-cellhighlight;
}

#threadTree > treechildren::-moz-tree-row(selected, focus) {
  color: HighlightText;
  background-color: Highlight;
}

.tabmail-tab[type="message"] {
  list-style-image: url("chrome://messenger/skin/icons/mail-small.svg?size=menu");
}

/* ..... tabs ..... */

#tabpanelcontainer {
  -moz-appearance: none;
}
