/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== addressbook.css ================================================
  == Styles for the main Address Book window.
  ======================================================================= */

@import url("chrome://messenger/skin/");
@import url("chrome://global/skin/toolbar.css");
@import url("chrome://messenger/skin/addressbook/abContactsPanel.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: primary toolbar buttons ::::: */

#button-newcard {
  list-style-image: url("moz-icon://stock/contact-new?size=toolbar");
}

#button-newcard[disabled] {
  list-style-image: url("moz-icon://stock/contact-new?size=toolbar&state=disabled") !important;
} 

#button-newlist {
  list-style-image: url("moz-icon://stock/address-book-new?size=toolbar");
}

#button-newlist[disabled] {
  list-style-image: url("moz-icon://stock/address-book-new?size=toolbar&state=disabled") !important;
} 

#button-editcard {
  list-style-image: url("moz-icon://stock/edit?size=toolbar");
}

#button-editcard[disabled] {
  list-style-image: url("moz-icon://stock/edit?size=toolbar&state=disabled") !important;
} 

#button-newmessage {
  list-style-image: url("moz-icon://stock/mail-message-new?size=toolbar");
}

#button-newmessage[disabled] {
  list-style-image: url("moz-icon://stock/mail-message-new?size=toolbar&state=disabled") !important;
}

#button-newim {
  list-style-image: url("moz-icon://stock/im-message-new?size=toolbar");
}

#button-newim[disabled] {
  list-style-image: url("moz-icon://stock/im-message-new?size=toolbar&state=disabled") !important;
} 

#button-abdelete {
  list-style-image: url("moz-icon://stock/edit-delete?size=toolbar");
}

#button-abdelete[disabled] {
  list-style-image: url("moz-icon://stock/edit-delete?size=toolbar&state=disabled") !important;
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] > #button-newcard,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newcard {
  list-style-image: url("moz-icon://stock/contact-new?size=menu");
}

toolbar[iconsize="small"] > #button-newcard[disabled] {
  list-style-image: url("moz-icon://stock/contact-new?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-newlist,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newlist {
  list-style-image: url("moz-icon://stock/address-book-new?size=menu");
}

toolbar[iconsize="small"] > #button-newlist[disabled] {
  list-style-image: url("moz-icon://stock/address-book-new?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-editcard,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-editcard {
  list-style-image: url("moz-icon://stock/edit?size=menu");
}

toolbar[iconsize="small"] > #button-editcard[disabled] {
  list-style-image: url("moz-icon://stock/edit?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-newmessage,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newmessage {
  list-style-image: url("moz-icon://stock/mail-message-new?size=menu");
}

toolbar[iconsize="small"] > #button-newmessage[disabled] {
  list-style-image: url("moz-icon://stock/mail-message-new?size=menu?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-newim,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-newim {
  list-style-image: url("moz-icon://stock/im-message-new?size=menu");
}

toolbar[iconsize="small"] > #button-newim[disabled] {
  list-style-image: url("moz-icon://stock/im-message-new?size=menu&state=disabled") !important;
}

toolbar[iconsize="small"] > #button-abdelete,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-abdelete {
  list-style-image: url("moz-icon://stock/edit-delete?size=menu");
}

toolbar[iconsize="small"] > #button-abdelete[disabled] {
  list-style-image: url("moz-icon://stock/edit-delete?size=menu&state=disabled") !important;
}

/* CardView styles - used in the Card View Pane */

#CardViewOuterBox {
  border-bottom: 1px solid ThreeDShadow
}

#CardViewBox {
  -moz-user-focus: ignore;
  overflow: auto;
  min-width: 150px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#CardViewInnerBox {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 8px;
}

#CardTitle {
  color: #676767;
  font-size: 150%;
  font-weight: bold;
  border-bottom: 2px solid ThreeDShadow;
  min-width: 120px;
  margin: 0px;
}
 
.cardViewGroup {
  margin-top: 8px;
  padding-bottom: 5px;
  min-width: 50px;
}

.CardViewHeading {
  padding: 1px;
  -moz-padding-start: 5px;
  margin: 0px 0px 1px;
  background-color: #dedede;
  color: black;
  font-weight: bold;
  min-width: 30px;
}

#cvBuddyIcon {
  -moz-padding-start: 20px;
  padding-top: 2px;
}

.CardViewText,
.CardViewLink {
  -moz-padding-start: 20px;
  -moz-padding-end: 2px;
  min-width: 30px;
  margin: 0px;
}

.CardViewLink {
  text-decoration: underline;
  color: -moz-nativehyperlinktext;
  cursor: pointer;
}


#cvHomeMapIt, #cvWorkMapIt {
  margin-bottom: 0px;
}

html|a {
  -moz-padding-start: 0px;
  -moz-padding-end: 2px;
  border: none !important;
}

html|p {
  border: none !important;
}

/* ::::: border adjustments ::::: */

#abResultsTree {
  border-left: 1px solid ThreeDShadow;
}

/* ::::: lightweight themes ::::: */

#CardViewOuterBox:-moz-lwtheme,
treecols:-moz-lwtheme {
  text-shadow: none;
  color: -moz-dialogtext;
  background-color: -moz-dialog;
}

#dirTree {
  background-color: #dedede;
  border-bottom: 1px solid ThreeDShadow;
  color: #6F6F6F !important;
}

#dirTree treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
  border-top: 1px solid #b5b5b5 !important;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c1c1c1 !important;
  background-color: #dedede;
  background-image: linear-gradient(rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0.07) 100%) !important;
  min-height: 18px;
}

#dirTree treechildren::-moz-tree-cell-text(selected) {
  color: #6F6F6F !important;
}
