/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== textbox.css ==================================================
  == Styles used by the XUL textbox element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* ::::: textbox ::::: */

textbox {
  -moz-appearance: none;
  border: 1px solid #9b9b9b !important;
  border-radius: 2.5px !important;
  -moz-border-top-colors: #8e8e8e !important;
  -moz-border-left-colors: #949494 !important;
  -moz-border-right-colors: #949494 !important;
  height: 25px;
  min-height: 25px;
  margin: 6px 6px 6px 6px !important;
  padding-left: 3px;
  padding-right: 3px;
  background-image: -moz-linear-gradient(#DFDFDF 1px, #EFEFEF 3px, #FDFDFD 84%) !important;
  box-shadow: 0 1px 0 rgba(255,255,255,0.34), inset 1px 1px 0 0 rgba(0,0,0,0.1),
              inset -1px 0px 0 0 rgba(0,0,0,0.1) !important;
  -moz-box-align: stretch;
}

textbox[focused="true"]:not([readonly="true"]):not([disabled="true"]) {
  border: 1px solid #3973AF !important;
  -moz-border-top-colors: #39638E !important;
  -moz-border-left-colors: #39638E #3973AF !important;
  -moz-border-right-colors: #39638E #3973AF !important;
  -moz-border-bottom-colors: #3973AF !important;
  box-shadow: inset 0 0 0 1px #9cc0e5 !important;
}

textbox[multiline="true"] {
  padding-top: 4px !important;
}

/* This is rather hacky b/c its overriding !important */
#addressingWidget > listitem > listcell > textbox {
  -moz-appearance: none;
  background: -moz-Field !important;
  border: none !important;
  box-shadow: none !important;
  color: -moz-FieldText;
  margin: 2px 4px !important;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
}

#addressingWidget > listitem > listcell > textbox[focused="true"] {
  -moz-appearance: none;
  border: none !important;
  box-shadow: none !important;
}

html|*.textbox-input,
html|*.textbox-textarea {
  margin: 0px !important;
  border: none !important;
  padding: 0px !important;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

html|*.textbox-input:-moz-placeholder,
html|*.textbox-textarea:-moz-placeholder {
  color: GrayText;
}

.textbox-contextmenu {
  cursor: default;
}

/* ..... readonly state ..... */

textbox[readonly="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

/* ..... disabled state ..... */

textbox[disabled="true"] {
  cursor: default;
  background-color: -moz-Dialog;
  color: GrayText;
}

/* ::::: plain textbox ::::: */

textbox.plain {
  -moz-appearance: none !important;
  background-color: transparent;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}

/* ::::: search textbox ::::: */

.textbox-search-icon {
  list-style-image: url(moz-icon://stock/edit-find?size=menu);
}

.textbox-search-clear {
  list-style-image: url(moz-icon://stock/edit-clear?size=menu);
}

.textbox-search-icon[searchbutton]:not([disabled]) ,
.textbox-search-clear:not([disabled]) {
  cursor: pointer;
}

/* ::::: textboxes inside toolbarpaletteitems ::::: */

toolbarpaletteitem > toolbaritem > textbox > .textbox-input-box > html|*.textbox-input {
  visibility: hidden;
}

/* ::::: context menu ::::: */

menuitem:not([type]) {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-iconic");
}

menuitem[cmd="cmd_undo"] {
  list-style-image: url("moz-icon://stock/edit-undo?size=menu");
}

menuitem[cmd="cmd_undo"][disabled] {
  list-style-image: url("moz-icon://stock/edit-undo?size=menu&state=disabled");
}

menuitem[cmd="cmd_cut"] {
  list-style-image: url("moz-icon://stock/edit-cut?size=menu");
}

menuitem[cmd="cmd_cut"][disabled] {
  list-style-image: url("moz-icon://stock/edit-cut?size=menu&state=disabled");
}

menuitem[cmd="cmd_copy"] {
  list-style-image: url("moz-icon://stock/edit-copy?size=menu");
}

menuitem[cmd="cmd_copy"][disabled] {
  list-style-image: url("moz-icon://stock/edit-copy?size=menu&state=disabled");
}

menuitem[cmd="cmd_paste"] {
  list-style-image: url("moz-icon://stock/edit-paste?size=menu");
}

menuitem[cmd="cmd_paste"][disabled] {
  list-style-image: url("moz-icon://stock/edit-paste?size=menu&state=disabled");
}

menuitem[cmd="cmd_delete"] {
  list-style-image: url("moz-icon://stock/edit-delete?size=menu");
}

menuitem[cmd="cmd_delete"][disabled] {
  list-style-image: url("moz-icon://stock/edit-delete?size=menu&state=disabled");
}

menuitem[cmd="cmd_selectAll"] {
  list-style-image: url("moz-icon://stock/edit-select-all?size=menu");
}

menuitem[cmd="cmd_selectAll"][disabled] {
  list-style-image: url("moz-icon://stock/edit-select-all?size=menu&state=disabled");
}

